<script src="/public/scripts/tailwind.config.js"></script>
<div class="flex bg-primary-700 w-full border-t border-primary-200">
    <div class="w-8/12 mx-auto">
        <div class="hidden lg:block w-auto my-20 mr-12">
            <div class="flex justify-content">
                <p class="font-bold text-4xl justify-content text-white">{{ client.config.name }} <b class="text-sm font-bold text-gray-500">©️ 2022 - 2023</b></p>
            </div>
            <div class="justify-content">
                <a href="/privacy" class="ease-out duration-300 font-semibold text-xl text-gray-300 hover:text-gray-400 justify-content">Privacy Policy</a>
                <b class="text-gray-600 font-bold">-</b>
                <a href="/tos" class="ease-out duration-300 font-semibold text-xl text-gray-300 hover:text-gray-400 justify-content">Terms of Service</a>
                <b class="text-gray-600 font-bold">-</b>
                <a target="_blank" href="/support" class="ease-out duration-300 font-semibold text-xl text-gray-300 hover:text-gray-400 justify-content">Support</a>
            </div>
        </div>
    </div>
</div>
<p class="lg:hidden md:hidden text-base font-semibold text-center p-5">{{ client.config.name }} ©️ 2022 - 2023</p>