<meta charset="UTF-8">
<meta name="og:description" content="{{ client.config.siteDesc }}" />
<meta name="og:image" content="/public/imgs/cr.png" />
<meta name="og:title" content="{{ client.config.name }}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="og:title" content="{{ client.config.name }}" />
<meta name="theme-color" content="#666464" />
<link rel="stylesheet" type="text/css" href="/public/styles/styles.css" />
<link rel="shortcut icon" href="/public/imgs/cr.png">
<title>{{ client.config.name }}</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.2/umd/popper.min.js"></script>
<script src="https://cdn.tailwindcss.com"></script>
<script src="/public/scripts/tata.js"></script>