<nav>
    <div class="bg-primary-700 lg:mx-auto lg:mt-5 lg:mb-20 w-full lg:w-8/12 lg:rounded-bl-2xl lg:rounded-tr-2xl">
        <div class="hidden md:flex w-11/12 mx-auto flex justify-center items-center">
            <img class="drop-show-md w-12 h-12" src="/public/imgs/cr.png">
            <div class="font-body text-lg flex-grow ml-5">
                <a class="ease-out duration-300 text-white hover:text-gray-300 mr-3" href="/">Home</a>
                <a class="ease-out duration-300 text-white hover:text-gray-300 mr-3" target="_blank"
                    href="/support">Support</a>
                <a class="ease-out duration-300 text-white hover:text-gray-300 mr-3" href="/products">Products</a>
                <a class="ease-out duration-300 text-white hover:text-gray-300 mr-3"
                    href="/subscriptions">Subscriptions</a>
            </div>
            <div class="flex justify-end ml-auto inline-block m-4">
                {% if user %}
                <div class="group relative">
                    <button class="bg-primary-400 font-semibold text-gray-300 px-6 h-10 rounded-full">{{ user.username
                        }}&nbsp;&nbsp;<i class="fas fa-arrow-down"></i></button>
                    <div tabindex="0"
                        class="bg-primary-300 invisible rounded w-48 absolute left-0 top-full transition-all opacity-0 group-focus-within:visible group-focus-within:opacity-100 group-focus-within:translate-y-1">
                        <ul>
                            {% if admin == true %}
                            <li>
                                <a href="/panel"
                                    class="ease-out duration-300 text-white block pr-4 pl-4 pt-3 pb-3 hover:bg-primary-200">Panel</a>
                            </li>
                            {% endif %}
                            <li>
                                <a href="/profile"
                                    class="ease-out duration-300 text-white block pr-4 pl-4 pt-3 pb-3 hover:bg-primary-200">Profile</a>
                            </li>
                            <li>
                                <a href="/support"
                                    class="ease-out duration-300 text-white block pr-4 pl-4 pt-3 pb-3 hover:bg-primary-200">Support</a>
                            </li>
                            <hr class="border-primary-400" />
                            <li>
                                <a href="/logout"
                                    class="ease-out duration-300 text-red-400 font-semibold block pr-4 pl-4 pt-3 pb-3 hover:bg-primary-200"><i
                                        class="fas fa-sign-out-alt"></i>&nbsp;Sign Out</a>
                            </li>
                        </ul>
                    </div>
                </div>
                {% else %}
                <div
                    class="ease-out duration-300 bg-blurple-900 hover:bg-blurple-700 w-auto flex justify-center mt-1 mb-1 rounded-full border-2 border-white drop-shadow-md">
                    <a href="/auth" class="text-white text-base font-semibold font-body p-1 pr-3 pl-3 truncate"><i
                            class="fab fa-discord"></i>&nbsp;Login via Discord</a>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="flex">
            <div class="md:hidden mt-5 mb-3 ml-6">
                <button
                    class="ease-out duration-300 outline-none mobile-menu-button text-3xl text-white hover:text-gray-400"><i
                        class="fas fa-bars"></i></button>
            </div>
            <div class="md:hidden ml-auto flex justify-end inline-block m-4">
                {% if user %}
                <div class="group relative z-50">
                    <button class=" font-semibold text-gray-300 px-6 h-10 ">{{ user.tag }}&nbsp;&nbsp;<i
                            class="fas fa-arrow-down"></i></button>
                    <div tabindex="0"
                        class="bg-primary-300 invisible rounded w-44 absolute left-0 top-full transition-all opacity-0 group-focus-within:visible group-focus-within:opacity-100 group-focus-within:translate-y-1">
                        <ul>
                            {% if admin == true %}
                            <li>
                                <a href="/panel"
                                    class="ease-out duration-300 text-gray-500 hover:text-white block pr-4 pl-4 pt-3 pb-3 hover:bg-primary-200">Panel</a>
                            </li>
                            {% endif %}
                            <li>
                                <a href="/profile"
                                    class="ease-out duration-300 text-gray-500 hover:text-white block pr-4 pl-4 pt-3 pb-3 hover:bg-primary-200">Profile</a>
                            </li>
                            <li>
                                <a href="/support"
                                    class="ease-out duration-300 text-gray-500 hover:text-white block pr-4 pl-4 pt-3 pb-3 hover:bg-primary-200">Support</a>
                            </li>
                            <hr class="border-primary-400" />
                            <li>
                                <a href="/logout"
                                    class="ease-out duration-300 text-red-400 font-semibold block pr-4 pl-4 pt-3 pb-3 hover:bg-primary-200"><i
                                        class="fas fa-sign-out-alt"></i>&nbsp;Sign Out</a>
                            </li>
                        </ul>
                    </div>
                </div>
                {% else %}
                <div
                    class="ease-out duration-300 bg-blurple-900 hover:bg-blurple-700 w-auto flex justify-center mt-1 mb-1 rounded-full border-2 border-white drop-shadow-md">
                    <a href="/auth" class="text-white text-base font-semibold font-body p-1 pr-3 pl-3 truncate"><i
                            class="fab fa-discord"></i>&nbsp;Login via Discord</a>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="ease-in duration-300 hidden mobile-menu md:hidden">
            <ul>
                <li><a href="/"
                        class="ease-out duration-300 block text-sm py-4 ml-6 text-white hover:text-gray-300 font-semibold">Home</a>
                </li>
                <li><a href="/support" target="_blank"
                        class="ease-out duration-300 block text-sm py-4 ml-6 text-white hover:text-gray-300 font-semibold">Support</a>
                </li>
                <li><a href="/products"
                        class="ease-out duration-300 block text-sm py-4 ml-6 text-white hover:text-gray-300 font-semibold">Products</a>
                </li>
                <li><a href="/subscriptions"
                        class="ease-out duration-300 block text-sm py-4 ml-6 text-white hover:text-gray-300 font-semibold">Subscriptions</a>
                </li>
                <li><a href="/privacy"
                        class="ease-out duration-300 block text-sm py-4 ml-6 text-white hover:text-gray-300 font-semibold">Privacy
                        Policy</a></li>
                <li><a href="/tos"
                        class="ease-out duration-300 block text-sm py-4 ml-6 text-white hover:text-gray-300 font-semibold">Terms
                        of Service</a></li>
            </ul>
        </div>
    </div>
</nav>