<!DOCTYPE html>
<html>

<head>
    {% render 'partials/header.liquid', client: client, user: user %}
</head>

<body class="bg-primary-100 font-body">
    {% render 'partials/navbar.liquid', client: client, user: user, admin: admin %}
    <div class="m-20 p-7 md:w-8/12 w-11/12 bg-primary-400 mx-auto rounded-md shadow-lg shadow-primary-700 border-2 border-primary-300">
        <p class=" text-3xl text-center">Privacy Policy for {{client.config.name }}</p>
        <br /><br />
        <p class=" text-base font-semibold">{{ client.config.legal.privacy_policy }}</p>    </div>
    <footer>
        {% render 'partials/footer.liquid' %}
    </footer>
</body>

</html>